<h1 class="animate__animated animate__fadeInDown">Добро пожаловать на RDG CTF</h1>

<p class="animate__animated animate__fadeInUp">
  Готов погрузиться в мир хакерских испытаний? Исследуй, изучай и побеждай!
</p>

<div class="row my-4">
  <div class="col-md-4 mb-3">
    <div class="card bg-dark border-warning h-100 animate__animated animate__fadeInLeft">
      <img src="/images/hacker1.webp" class="card-img-top" alt="Hacker Image 1" />
      <div class="card-body text-warning">
        <h5 class="card-title">Тёмное искусство</h5>
        <p class="card-text">
          Изучи историю хакерства и криптографии, погрузившись в анналы 
          компьютерной безопасности.
        </p>
        <a href="https://t.me/FEFUCyber" target="_blank" class="btn btn-warning">
          Подробнее
        </a>
      </div>
    </div>
  </div>
  
  <div class="col-md-4 mb-3">
    <div class="card bg-dark border-warning h-100 animate__animated animate__fadeInUp">
      <img src="/images/hacker2.webp" class="card-img-top" alt="Hacker Image 2" />
      <div class="card-body text-warning">
        <h5 class="card-title">Технологии будущего</h5>
        <p class="card-text">
          Узнай о самых передовых тенденциях в кибербезопасности, 
          machine learning и расследованиях инцидентов.
        </p>
        <a href="https://t.me/RDGCTF" target="_blank" class="btn btn-warning">
          Подробнее
        </a>
      </div>
    </div>
  </div>

  <div class="col-md-4 mb-3">
    <div class="card bg-dark border-warning h-100 animate__animated animate__fadeInRight">
      <img src="/images/hacker3.webp" class="card-img-top" alt="Hacker Image 3" />
      <div class="card-body text-warning">
        <h5 class="card-title">Мастерство взлома</h5>
        <p class="card-text">
          Практические руководства по пентесту, реверсу и обходу различных систем защиты.
        </p>
        <a href="https://t.me/fefuctf" target="_blank" class="btn btn-warning">
          Подробнее
        </a>
      </div>
    </div>
  </div>
</div>
